{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Energy Live</title>
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <header>
            <br>
            <nav>
                <ul>
                    <a href=" ">Energy Live</a>
                    <a href="energy-daily">Energy Daily</a>
                    <a href="energy-update">Energy Update</a>
                </ul>
            </nav>
        </br>
        </header>
        <h1 class="measurementTime">
            Última Medição: {{TS}}
        </h1>

        <table>
            <tr>
                <th> Potência Ativa </th>
                <th> Potência Reativa </th>
                <th> Nível do Reservatório </th>
            </tr>
            <tr>
                <td>{{MW}} MW</td>
                <td>{{Mvar}} Mvar</td>
                <td>{{Level}} m</td>

            </tr>
        </table>
        <h1 class="currentTime">Hora atual: {{CurrentTime}}</h4>
    </body>
</html>