{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Energy</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/myscripts.js' %}"></script>
</head>

<body>
    <h1>
        Geração de ontem
        <p id="currentTime">Que horas são?</p>
        <button onclick="myFunction()">Show Current Time!</button>
    </h1>
    <h0>
        <table>
            <div class="mytitle">
                <tr>
                    <th>Data/Hora</th>
                    <th>Potência Ativa</th>
                    <th>Potência Reativa</th>
                    <th>Nível</th>
                </tr>
            </div>
            <div class="mydata">
            {% for data in dataFromDailyEnergy %}
                <tr class="mydata">
                    <td>{{ data.0}}</td>
                    <td>{{ data.1 }} MW</td>
                    <td>{{ data.2 }} Mvar</td>
                    <td>{{ data.3 }} m</td>
                </tr>
            {% endfor%}
            </div>
        </table>
    </h0>
</body>
</html>