<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Energy</title>
</head>
<body>
    <h1>
        Geração de ontem
    </h1>
    <h3>
        {% for data in dataFromDailyEnergy %}
            Data/Hora: {{ data.0 }}<br>
            Potência Ativa: {{ data.1 }} MW<br>
            Potência Reativa: {{ data.2 }} Mvar<br>
            Nível: {{ data.3 }} m<br>
            <br>
        {% endfor %}
    </h3>
</body>
</html>